body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
  header {
    background: darkgray;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: gray;
    grid-column: 1 / 2;
  }
  
  main {
    background: gray;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: white;
    grid-column: 3 / 4;
  }
  
  footer {
    background: Darkgray;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  nav {
    display: flex;
    text-align: center;
    border: black;

  }

  nav a {
    padding: 15px;
  }