/* Global CSS variables */
:root {
    --primary-color: #d21034; /* Red */
    --secondary-color: #0a3161; /* Blue */
    --text-color: #333; /* Dark gray */
}


/* Set font family */
body {
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Image styling */
img {
    max-width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

/* Data section styling */
h2 {
    font-size: 20px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Weather section styling
#weather {
    margin-top: 20px;
} */

#weather-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

 .overlay{
    position:absolute;
    width: 250px;
    height: auto;
    top: 10px;
    left: 15em;
    background-color: lightgreen;
    z-index: 1;

}

.overlay h1{
    background-color: #d21034; 

}
 #weather{
    position: absolute;
    bottom: 5em;
    right: 15em;
    background-color: lightgreen;

}

#middle {
    position: relative;
}


/* Pseudo element for weather icon */
#weather::after {
    content: "\2601"; /* Unicode for sun symbol */
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}
/* Media query for smaller screens */
@media screen and (max-width: 400px) {
    header, footer {
        padding: 10px;
    }
     picture{
        position: relative;
        max-width: 100%;
     }

.overlay{
    position: relative;
    top: -10px;
    left: 58px;
    justify-content: left;


}
#weather{
    max-width: 65%;
    position: relative;
    top: 5px;
    left: 58px;
    /* bottom: 20px; */
}
#weather-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

}